@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-overlay {
  background: url("./asset/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
