@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-overlay {
  background: url("./asset/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-overlay {
  background: url("./asset/banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#avatar {
  width:100px;
  height:  100px;
  resize: both;
  overflow: auto;
}